*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
html{
  height: 100%;
}
 Yuliya
/* Footer (Yuliya) */

.footer{
  width: 1152px;
  height: 280px;
  background-color: #e8e9f2;
  margin-left: 146px;
  margin-top: 10px;
}
.contentinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.logoimg{
  
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 15px;
}
.vk-img,.telega-img, .youtube-img {
  width: 30px;
  height: 30px;
}
.vk-img{
  margin: 0px 35px 10px 420px;
}
.telega-img{
  margin: 0px 35px 10px -270px;
 
}
.youtube-img{
  margin: 0px 35px 10px -475px;
}
.social-media-icons-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 231px;
  flex-wrap: wrap;
}
.footer-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 50px;
  padding-top: 15px;
  
}
.footer-menu a{
  display: inline-block;
  padding: 10px;
}

.footer-item{
  text-decoration: none;
  color: black;
  font-family:  'Heebo', sans-serif;
 
}
.menu-item{
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  list-style-type: none;
}
.menu-icon{
list-style-type: none;
}

/* education page */
.header_section_education{
  width: 1152px;
}
.header_education{
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 146px;
 }

.education-page{
  width: 1152px;
 margin-left: 146px;
 margin-right: 200px;
 font-family:  'Heebo', sans-serif;
}
.presentation_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 210px;
  padding-bottom: 20px;
}

h1{
width: 800px;
height: 69px;
left: 235px;
top: 160px;
font-family: 'Heebo', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px
}

.first-slide{
  width: 700px;
  
}
.practice{
  padding-bottom: 10px;
  padding-top: 10px;
}
.practice-images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.animals{
  width: 500px;
}
.interview{
  width: 500px;
}
.books-study{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin-left: 120px;
  padding-top: 10px;
}
.image-book-1{
  width: 300px;
  margin-left: -100px;
}
.image-book-2{
  width: 300px;
}

 p{
font-family: 'Heebo', sans-serif;
font-style: normal;
font-size: 18px;
line-height: 24px;
text-indent: 25px;

}

.link-marker{
color: black;
list-style-type: square;
font-family: 'Heebo', sans-serif;
font-style: normal;
font-size: 18px;
line-height: 24px;
text-decoration: none;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.method-study{
  padding-top: 10px;
}

.method-screenshot{
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;


}
.screenshot:hover img{
  transform: scale(1.5);
}
.screenshot-1:hover img{
  transform: scale(1.3);
  
}
.first_slide{
  width: 400px;
  height: 350px;
  margin-left: 146px; 
}
.education{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1152px;  
}
.content_box{
  display: flex;
  flex-direction: column;
}
.content_item{
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.content_item_button{
  list-style-type: none;
}

.section-description{
  padding-bottom: 20px;
}
.read{
  text-decoration: none;
}
.button_read{
  background: rgb(227, 228, 230);;
  margin-right: 200px;
}

.line_separation{
  border: none;
  background-color: #d5cfcf;
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
figcaption{
  font-style: italic;
  margin-left: -120px;
  text-align: center;
 
}
@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-Regular.woff);
}
@media screen and (max-width: 480px) {
  .footer-menu > .menu-item {
    display: none;}
  }
  @media screen and (max-width: 768px) {
    .footer-menu > .menu-item {
      display: none;
    }
    .footer{
      width: 100;

    }
    }
  

nav {
  text-align: center;
  padding: 40px 0 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #222;
}
.topmenu > li {
  display: inline-block;
  position: relative;

}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  font-family: 'Heebo', serif;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
}
 @media screen and (max-width: 480px) {
  .large-menu {
  display: none;
  flex-direction: column;
}
/*.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 170px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(157,211,175,.7);
  box-sizing: border-box;
  visibility: visible;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}*/
}

.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: rgb(157,211,175);
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 170px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(157,211,175,.7);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-family: 'Heebo', serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}
.submenu a:hover {background: #e8e8e8;}


@media screen and (max-width: 480px) {
.topmenu > li {
  max-width: 400px;
  /*border: 1px solid #555;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-menu:not(:last-child) {
  border-bottom: 1px solid #555;
}
.title-menu {
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  background: #333;
}
.menu {
  display: visible;
  padding: 10px 0;
}
.menu a {
  display: block;
  padding: 5px 20px;
}
.item-menu.active .title-menu {
  border-bottom: 1px solid #555;
}
}

@media screen and (min-width: 480px) {
   .small-menu { display: none }
}
 main
